.historico-main {
  max-width: 900px;
  margin: 100px auto 60px;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--cor-texto-claro);
}

body.dark-theme .historico-main {
  color: var(--cor-texto-escuro);
}

h1 {
  font-family: cursive, Arial, sans-serif;
  color: var(--cor-primaria);
  margin-bottom: 30px;
  text-align: center;
}

.historico-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.historico-item {
  background-color: var(--cor-secundaria);
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.historico-item:hover {
  background-color: #8b82d9;
  color: #fff;
}

body.dark-theme .historico-item {
  background-color: #494d7f;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

body.dark-theme .historico-item:hover {
  background-color: #6a63c3;
  color: #fff;
}

.logo-circle {
    width: 40px;
    height: 40px;
    background-color: var(--cor-secundaria);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.logo-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  border-radius: 50%;
  display: block;
}
